<html>
    <head>
        <title>Not found</title>
        <link rel="stylesheet" href="<%= cssUrl %>">
        <link rel="stylesheet" href="<%= css2Url %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="card">
                <div class="card-buttons">
                    <button class="card-close-button">&nbsp;</button>
                    <button class="card-max-button">&nbsp;</button>
                    <button class="card-min-button">&nbsp;</button>
                </div>
                <div class="card-text">
                    <h1>404</h1>
                    <h2 class="glitch heading" data-text="Couldn't find the page that you're searching for.">Couldn't find the page that you're searching for.</h2>
                    <p>
                        Probably the URL is invalid.<br>
                        If it's not invalid, you can sit & cry.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>